<owl-carousel #owlElement class="wrap-item" [options]="options" [items]="images" [carouselClasses]="['owl-theme']">
  <!-- <div *ngFor="let slide of slides;let i = index">
    <div class="item-sub-banner">
      <div class="item-thumb">
        <a [routerLink]="slide.route.paths">
          <img class="hvr-wobble-horizontal" src="{{ ( slide.image | baImagesFilter:'png':'home' ) }}" alt="" />
        </a>
      </div>
      <div class="item-info">
        <h3 class="item-title text-capitalize">
          <a [routerLink]="slide.route.paths">{{slide.title}}</a>
        </h3>
        <strong class="color">Upto {{slide.deal}}% OFF</strong>
      </div>
    </div>
  </div> -->
</owl-carousel>
