<div id="main-navigation" [ngClass]="{'nav horizontal':layout === 'horizontal', 'nav vertical':layout === 'vertical'}">

  <!-- Vertical Navigation Layout -->
  <ng-container *ngIf="layout === 'vertical'">

    <ng-container *ngFor="let item of navigation">

      <pixsurf-nav-vertical-group *ngIf="item.type=='group'" [item]="item"></pixsurf-nav-vertical-group>
      <pixsurf-nav-vertical-collapsable *ngIf="item.type=='collapse'" [item]="item"></pixsurf-nav-vertical-collapsable>
      <pixsurf-nav-vertical-item *ngIf="item.type=='item'" [item]="item"></pixsurf-nav-vertical-item>

    </ng-container>

  </ng-container>
  <!-- / Vertical Navigation Layout -->

  <!-- Horizontal Navigation Layout -->
  <ng-container *ngIf="layout === 'horizontal'">

    <ng-container *ngFor="let item of navigation">

      <pixsurf-nav-horizontal-collapsable *ngIf="item.type=='group'" [item]="item"></pixsurf-nav-horizontal-collapsable>
      <pixsurf-nav-horizontal-collapsable *ngIf="item.type=='collapse'" [item]="item"></pixsurf-nav-horizontal-collapsable>
      <pixsurf-nav-horizontal-item *ngIf="item.type=='item'" [item]="item"></pixsurf-nav-horizontal-item>

    </ng-container>

  </ng-container>
  <!-- / Horizontal Navigation Layout -->

  <!-- Custom Navigation Layout -->
  <ng-container *ngIf="layout === 'custom'">    
      <ng-container *ngFor="let item of navigation">
        <pixsurf-nav-custom-collapsable *ngIf="item.type=='group'" [item]="item"></pixsurf-nav-custom-collapsable>
        <pixsurf-nav-custom-collapsable *ngIf="item.type=='collapse'" [item]="item"></pixsurf-nav-custom-collapsable>
        <pixsurf-nav-custom-item *ngIf="item.type=='item'" [item]="item"></pixsurf-nav-custom-item>
      </ng-container>
  </ng-container>
  <!-- / Custom Navigation Layout -->

</div>
