<div class="content-top1">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs-down">
        <div class="wrap-cat-icon wrap-cat-icon1">
          <h2 class="title14 title-cat-icon">Categories</h2>
          <navbar layout="custom" navigation="home"></navbar>
        </div>
      </div>
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="wrap-banner-slider1">
          <div class="banner-slider banner-slider1">
            <!-- <owl-carousel #owlElement class="wrap-item" [options]="_contentTop.options.main" [items]="images" [carouselClasses]="['owl-theme']">
              <div class="item" *ngFor="let _Slider of _contentTop.slides;let i = index">
                <div class="item-banner item-banner1">
                  <div class="banner-thumb">
                    <a href="#">
                      <img [ngStyle]="_contentTop.options.style" src="{{ ( _Slider.image | baImagesFilter:'jpg':'home' ) }}" alt="">
                    </a>
                  </div>
                  <div class="banner-info animated" [attr.data-animated]="_Slider.transition">
                    <h2 class="title30" innerHTML="{{_Slider.header}}"></h2>
                    <h2 class="title30 color" innerHTML="{{_Slider.deal}}"></h2>
                    <p innerHTML="{{_Slider.text}}"></p>
                    <a href="#" class="shopnow" innerHTML="{{_Slider.button}}"></a>
                  </div>
                </div>
              </div>
            </owl-carousel> -->
          </div>
          <div class="sub-banner-slider">
            <!-- <owl-carousel #owlElement class="wrap-item" [options]="_contentTop.options.sub" [items]="images" [carouselClasses]="['owl-theme']">
              <div *ngFor="let _Product of _contentTop.children;let i = index">
                <div class="item-sub-banner">
                  <div class="product-thumb">
                    <a [routerLink]="_Product.route.paths">
                      <img class="hvr-wobble-horizontal" src="{{ ( _Product.image | baImagesFilter:'png':'home' ) }}" alt="" />
                    </a>
                  </div>
                  <div class="product-info">
                    <h3 class="product-title text-capitalize">
                      <a [routerLink]="_Product.route.paths">{{_Product.title}}</a>
                    </h3>
                    <strong class="color">Upto {{_Product.deal}}% OFF</strong>
                  </div>
                </div>
              </div>
            </owl-carousel> -->
          </div>
        </div>
      </div>
    </div>
  </div>